/*锚点*/
.mce-item-anchor {
    -moz-user-modify: read-only;
    -moz-user-select: all;
    background: url('../../ccweditor/lib/tinymce/js/tinymce/skins/lightgray/img/anchor.png') no-repeat scroll center center;
    border: 1px dotted #3a3a3a;
    cursor: default;
    display: inline-block;
    height: 19px !important;
    width: 19px !important;
}
.mce-content-body img[data-mce-selected], hr[data-mce-selected] {
    outline: 3px solid red;
    resize: none;
}

.mce-content-body a:hover{
    cursor: default;
}
.mce-content-body p{
    height: 100%;
}
.mce-content-body p img{
    height: 100%;
    width: auto;
}
